<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'>
    <link href="~/css/new-home.css" rel="stylesheet" type="text/css" />
    <link href="~/css/new-accord.css" rel="stylesheet" type="text/css" />
    <link href="~/css/new-categories.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <title>@ViewBag.Title</title>


    @*<environment include="Development">
           <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    <nav id="navbar">


        <li><a href="@Url.Action("Index", "Home")"><img class="logo" src="~/css/logo_square.png" alt="Logo"></a></li>
        <li><a href="@Url.Action("Index", "Home")" class="k1">Goldfinch</a></li>
        <li><a href="@Url.Action("Index", "Home")" class="kk">Books</a></li>
        <li><a href="@Url.Action("About", "Home")" class="kk">About Us</a></li>
        @if (ViewContext.HttpContext.User.IsInRole("Manager"))
        {
            <li><a href="@Url.Action("Index", "Manager")" class="kk">Manager</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Contact", "Home")" class="kk">Contact</a></li>
        }

        <li class="look">
            <div class="bo">
                <div class="container-1" style="display:flex;">
                    <span class="icon" style="margin-right:10px;"><i class="fa fa-search"></i></span>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null,
                       new { style = "font-family:'Cabin Sketch', sans-serif; background-color:black; outline: none; border: none;font-size: 15px; color: #FCB326; font-weight: 600; height:15px; line-height: 13px;", @placeholder = "SEARCH" })
                        <input type="submit" id="search" style="color:black; width: 3px; margin: 0;" />
                    }
                </div>
            </div>
        </li>




        <div style="display: flex; margin-left: 20em; ">

            
            @*<partial name="_LoginPartial" />*@

            


            <li><a href="/Identity/Account/Login" class="kk"><i class="fa fa-user" aria-hidden="true"></i></a></li>
            <li><a href="@Url.Action("Basket", "Home")" class="kk"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
        </div>


    </nav>


    @RenderBody()
    <hr />
    <!-- Footer -->
    <footer class="foot">

        <div class="down">
            <h1>Goldfinch</h1>
        </div>

        <div class="link">
            <a href="@Url.Action("Index", "Home")"><p><i class="fa fa-book" aria-hidden="true"></i>Books</p></a>
            <a href="@Url.Action("About", "Home")"><p><i class="fa fa-book" aria-hidden="true"></i>About Us</p></a>
            <a href="@Url.Action("Contact", "Home")"><p><i class="fa fa-book" aria-hidden="true"></i>Contact</p></a>
        </div>

        <p id="copy">&copy; Goldfinch Books 2018</p>
    </footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
