@model IEnumerable<Bookstore.Models.Book>
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sub {
        font-weight: 600;
        margin-left: 20px;
    }

    .info {
        margin-top: 10px;
        color: #FCB326;
        font-weight: 600;
        margin-left: 50px;
        margin-bottom: 20px;
    }
</style>
<h2>Basket</h2>
<table class="flat-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoverType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>*@
            <th>
                <a>Amount</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>*@
                <td></td>
                <td>
                    <a asp-controller="Books" asp-action="RemoveFromBasket" asp-route-id="@item.id">Remove</a> |
                    @*<a href="@Url.Action("RemoveFromBasket", "BooksController", item)" class="kk"> Remove </a>*@
                    @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Purchase" class="btn2" >Make Purchase</a> |